
.list-products-cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; 

}

.products-card{
    width: 350px;
    background-color: beige;
    margin: 8px;
    padding: 5px;
    border-radius: 8px;
    list-style: none;
}

.products-card img{
    height: 200px;
    margin: 5px;
}
.category-card{
    background-color: darkcyan;
    width: 200px;
    height: 150px;
    padding: 10px;
}
.sections-home{
    display: flex;
}