
.list-products-cards{
    width: 60%;
    margin-left: 5em;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

}

.products-card{
    width: 350px;
    background:white;
    margin: 8px;
    padding: 5px;
    border-radius: 8px;
    list-style: none;
    border: 1px solid gray;
    text-transform: uppercase;
    color: gray;
}

.products-card img{
    height: 200px;
    margin: 5px;
}
.category-card{
    background-color: white;
    border: 1px solid gray;
    text-transform: uppercase;
    color: gray;
    width: 200px;
    height: 150px;
    padding: 10px;
}
.sections-home{
    display: flex;
}