.card-login{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border: 1px solid gray;
}
.card-login input{
    height: 30px;
    width: 260px;
    padding-left: 3px;
    border-radius: 6px;
    border: none;
    margin: 6px;
    border: 1px solid gray;
}
.card-login button{
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 6px;
    padding: 3px;
    border: none;
    padding: 1em;
    background: hsl(145, 77%, 49%);
    color: white;
    cursor: pointer;
}