.nav-bar{
    display: flex;
    background-color: beige;
    justify-content: space-between;
    z-index: 1;
}
.nav-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   
}
.nav-items li{
    padding: 5px;

}
.side-bar{
    height: 500px;
    width: 250px;
    position: fixed;
    z-index: 99;
    background-color: gray;
}
