.item-product img{
    height: 300px;
}

.list-related-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    list-style: none;
   
}
.related-product{
    width: 300px;
    margin: 8px;
    border: 1px solid gray;
}

.related-product img{
    height: 100px;
}